@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
}

header {
    font-family: norse-bold;
    background-image: url("./images/clement-m-igX2deuD9lc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
}

.design {
    display: flex;
    padding-bottom: 25px;
    flex-direction: row;
    align-items: flex-end;
    background-color: white;
    padding-right: 15px;
    border-radius: 5px;
    margin-top: 35%;

}

h1 {
    margin-bottom: 0;
    font-size: 50px;
}


.logo {
    width: 75px;
    height:auto;
}

.content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    margin-bottom: 20px;
    background-color: #F6F7F6;
}